[project]
	description = Painless JavaScript Unit Testing.
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/freekman
[access "refs/for/refs/*"]
	read = group user/freekman
	push = group user/freekman
	label-Code-Review = -2..+2 group user/freekman
	label-Verified = -1..+1 group user/freekman
	rebase = group user/freekman
	removeReviewer = group user/freekman
	submit = group user/freekman
[access "refs/heads/*"]
	read = group user/freekman
	create = group user/freekman
	push = +force group user/freekman
	pushMerge = group user/freekman
[access "refs/tags/*"]
	push = group user/freekman
	push = +force group user/freekman
